[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statistics = "*"
"bs4" = "*"
validators = "*"
flask = "*"
nltk = "*"
requests = "*"
isort = "*"
yapf = "*"
git-pre-commit-hook = "*"
'''
run this command at the end
git-pre-commit-hook install \
  --plugin flake8 \
  --plugin frosted \
  --plugin json \
  --plugin file_size \
  --plugin rst \
  --plugin yaml

'''

[dev-packages]

[requires]
python_version = "2.7"
