{% extends "layout.html" %}
{% block body %}
	<form action="start" method=get class=add-entry>
	      <dl>
					<dd>URL:<input type=url name=site size="50">

					<!-- select genre id	<tab -->
					<table cellpadding="5px" >

						<tr>

							<td>
								<input type="radio" onclick="checkGenre()"name="genre"
								 id="g1" value="g1" > Genre1
							</td>

							<td>
								<input type="radio" onclick="checkGenre()"name="genre"
								 id="g2" value="g2" > Genre2
							</td>

							<td>
								<input type="radio" onclick="checkGenre()"name="genre"
								 id="g3" value="g3" > Genre3
							</td>

							<td>
								<input type="radio" onclick="checkGenre()"name="genre"
								 id="g4" value="g4" > Genre4
							</td>

							<td>
								<br>
								<input type="radio" onclick="checkGenre()"name="genre"
								 id="other" value="" >
								 <input type='text' placeholder="Other genre"
									 name="other_genre"/>
							</td>

						</tr>

					</table>

					<!-- select dimension -->
					<table cellpadding="5px" id="dimensions">

						<tr>

							<td>
								<input type="checkbox" name="ads" id="ads" value="true" > Advertisement
							</td>

							<!-- <td>
								<input type="checkbox" name="cohesion" id="cohesion" value="true" > Cohesion
							</td> -->
							<td>
								<input type="checkbox" name="inlinks" id="inlinks" value="true" > Inlinks
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="brokenlinks" id="brokenlinks" value="true" > Broken Links
							</td>

							<!-- <td>
								<input type="checkbox" name="domain_similarity" id="domain_similarity" value="true" > Domain Similarity
							</td> -->
							<td>
								<input type="checkbox" name="domain" id="domain" value="true" > Internet Domain
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="langcount" id="langcount" value="true" > Internationalization
							</td>

							<!-- <td>
								<input type="checkbox" name="genre" id="genre" value="true" > Genre
							</td> -->
							<td>
								<input type="checkbox" name="lastmod" id="lastmod" value="true" > Lastmodified
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="misspelled" id="misspelled" value="true" > Misspelled
							</td>

							<td>
								<input type="checkbox" name="outlinks" id="outlinks" value="true" >  Outlinks
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="pageloadtime" id="pageloadtime" value="true" > Pageloadtime
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="hyperlinks" id="hyperlinks" value="true" > Real World Presence
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="responsive" id="responsive" value="true" > Responsive Design
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="imgratio" id="imgratio" value="true" > Text2BodyRatio
							</td>

						</tr>

					</table>

					<!-- Add more dimensions -->

					<button type="button" onclick="myFunction()">Add more
						Dimensions</button>

	        <!-- <input type="checkbox" name="wot" value="true" >
					 wot_score -->
					<div class="g-recaptcha" data-sitekey=
						"6LcsiCoUAAAAAM4y5pKsPEGfBasVYdkB0PvgpllL"></div>

					<dd><input type=submit value="Assess Credibility">
	      </dl>
	</form>

	<script>
  function myFunction() {
      console.log("hello");
			var x = document.getElementById('dimensions');
		  var new_row = x.rows[1].cloneNode(true);
			//FIXME +5 is caluclated number as total dimensions are 12
			//and len==8
			//HACK if +5 number is changed, then change in utils.py as well
		  var len = x.rows.length+5;
			dimension = "dimension" + len;
			api = "api" + len;
			console.log(dimension, api);

		  new_row.cells[0].innerHTML = '<input type="text" placeholder=\
			"New Dimension" name="'+ dimension + '"/>';

		  new_row.cells[1].innerHTML = '<input type="text" placeholder=\
			"API for dimension" name="'+ api + '"/>';

		  x.appendChild(new_row);
  }

	function checkGenre(){
		var genre = {}
		genre["g1"] = ['ads', 'inlinks', 'brokenlinks', 'domain', 'langcount',
			'responsive', 'imgratio']
		genre["g2"] = ['ads', 'inlinks',
			'responsive', 'imgratio']
		genre["g3"] = [
			'lastmod', 'misspelled', 'outlinks', 'pageloadtime', 'hyperlinks',
			'responsive', 'imgratio']
		genre["g4"] = ['ads', 'inlinks', 'brokenlinks', 'domain', 'langcount',
			'lastmod', 'misspelled', 'outlinks', 'pageloadtime', 'hyperlinks',
		]
		genre["other"] = [
			'ads', 'inlinks', 'brokenlinks', 'domain', 'langcount',
			'lastmod', 'misspelled', 'outlinks', 'pageloadtime', 'hyperlinks',
			'responsive', 'imgratio'
		]

		for (var key in genre){
			if (document.getElementById(key).checked == true){
				// debugger;
				var dimension = genre['other'];
				for(var j=0; j<dimension.length; j++){
					document.getElementById(dimension[j]).checked = false;
				}
				var dimension = genre[key];
				// console.log("checking genre", key, dimension);
				for(var j=0; j<dimension.length; j++){
					document.getElementById(dimension[j]).checked = true;
				}
			}
		}

	}
  </script>

{% endblock %}
