{% extends "layout.html" %}
{% block body %}
	<form action="start" method=get class=add-entry>
	      <dl>
					<dd>URL:<input type=url name=site size="50">

					<table cellpadding="5px" id="dimensions">

						<tr>

							<td>
								<input type="checkbox" name="ads" value="true" checked="checked"> Advertisement
							</td>

							<!-- <td>
								<input type="checkbox" name="cohesion" value="true" checked="checked"> Cohesion
							</td> -->
							<td>
								<input type="checkbox" name="inlinks" value="true" checked="checked"> Inlinks
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="brokenlinks" value="true" checked="checked"> Broken Links
							</td>

							<!-- <td>
								<input type="checkbox" name="domain_similarity" value="true" checked="checked"> Domain Similarity
							</td> -->
							<td>
								<input type="checkbox" name="domain" value="true" checked="checked"> Internet Domain
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="langcount" value="true" checked="checked"> Internationalization
							</td>

							<!-- <td>
								<input type="checkbox" name="genre" value="true" checked="checked"> Genre
							</td> -->
							<td>
								<input type="checkbox" name="lastmod" value="true" checked="checked"> Lastmodified
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="misspelled" value="true" checked="checked"> Misspelled
							</td>

							<td>
								<input type="checkbox" name="outlinks" value="true" checked="checked">  Outlinks
							</td>

						</tr>

						<tr>

							<td>
								<input type="checkbox" name="pageloadtime" value="true" checked="checked"> Pageloadtime
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="hyperlinks" value="true" checked="checked"> Real World Presence
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="responsive" value="true" checked="checked"> Responsive Design
							</td>


						</tr>

						<tr>

							<td>
								<input type="checkbox" name="imgratio" value="true" checked="checked"> Text2BodyRatio
							</td>

						</tr>

					</table>

					<!-- Add more dimensions -->

					<button type="button" onclick="myFunction()">Add more Dimensions</button>

	        <!-- <input type="checkbox" name="wot" value="true" checked="checked"> wot_score -->
					<div class="g-recaptcha" data-sitekey="6LcsiCoUAAAAAM4y5pKsPEGfBasVYdkB0PvgpllL"></div>

					<dd><input type=submit value="Assess Credibility">
	      </dl>
	</form>
	<script>

  function myFunction() {
      console.log("hello");
			var x = document.getElementById('dimensions');
		  var new_row = x.rows[1].cloneNode(true);
			// FIXME +5 is caluclated number as of now total dimensions are 12
			// and len==8
			// HACK if this number is changed, then change accordingly in utils.py
		  var len = x.rows.length+5;
			dimension = "dimension" + len;
			api = "api" + len;
			console.log(dimension, api);

		  new_row.cells[0].innerHTML = '<input type="text" placeholder="New Dimension" name="'+ dimension + '"/>';

		  new_row.cells[1].innerHTML = '<input type="text" placeholder="API for dimension" name="'+ api + '"/>';

		  x.appendChild(new_row);
  }
  </script>

{% endblock %}
