<!doctype html>
<head>
  <title>WEBCred</title>
  <link rel=stylesheet type=text/css href="static/style.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <div class=page>
    <h1>WEBCred</h1>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</body>
<footer>
 <p> <a href="https://docs.google.com/document/d/1e_FLu-IyrTOBbyf1Z7QHEOJGHR3VsPWQ_okYjPnH-zc/edit?usp=sharing">Documentation</a> of WEBCred</p>
 <p> Don't you have any idea about <a href="https://docs.google.com/presentation/d/1_oikVY-IUyxvzZEt6_EXjF94PUfVQfcrXdHe22DuNVs/edit?usp=sharing">Web Credibility?</a></p>
 <p>Contact information: <a href="mailto:shriyansh.agrawal@research.iiit.ac.in">
 shriyansh.agrawal@research.iiit.ac.in</a>.</p>
</footer>
