<!doctype html>
<head>
  <title>WEBCred</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class=page>
    <h1>WEBCred</h1>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</body>
<footer>
 <p>Developed by: <a href="https://www.linkedin.com/in/shriyansh-agrawal-322a25106/">Shriyansh Agrawal</a></p>
 <p>Contact information: <a href="mailto:shriyansh.agrawal@research.iiit.ac.in">
 shriyansh.agrawal@research.iiit.ac.in</a>.</p>
</footer>
